@import "tailwindcss";

@theme {
  --color-mustard-yellow: #d99b16;
  --color-powder-blue: #81c5e4;
  --color-cream-background: #fdfbf7;

  --font-display: "Playfair Display", serif;
  --font-body: "Lato", "Montserrat", sans-serif;
}
